dataset/
dataset1/
encodings0.pickle
encodings1.pickle
clustering/__pycache__/
clustering/.ipynb_checkpoints/
clustering/test-elbow/.ipynb_checkpoints/
.DS_Store
GNN/.DS_Store
GNN/faces/__pycache__
clustering/evaluation/__pycache__/
clustering/evaluation/.ipynb_checkpoints/
clustering/algorithms/__pycache__/
clustering/algorithms/df_python.csv
clustering/algorithms/encodings.csv
clustering/algorithms/native_hierarchy.csv
clustering/algorithms/rafd_encodings.csv
clustering/algorithms/test.ipynb
clustering/algorithms/Untitled.ipynb
.vscode
clustering/algorithms/__pycache__/
clustering/dataset/
GNN/__pycache__/
GNN/results/
GNN/results1/
.ipynb_checkpoints/
clustering/algorithms/fixed-size-kmeans/
styleGAN/__pycache__/
datasets/stylegan_data/account1000/
datasets/stylegan_data/account2000/
datasets/stylegan_data/account3000/
datasets/stylegan_data/account4000/
datasets/stylegan_data/account5000/
datasets/stylegan_data/raw_data/
clustering/algorithms/test.ipynb
clustering/algorithms/.ipynb_checkpoints/
